@{
    ViewData["Title"] = "Home Page";
}

<div class="landingpage">
    <header class="homepage-header">
        <div class="application-logo">
            <img src="Images/CMCS - logo.png"/> 
        </div>
        <button class="login-button jost-bold">LOGIN</button>
    </header>

    <main class="hero-section">
        <div class="frame-1">
            <h1 class="jost-bold">MANAGE YOUR <span class="highlight">CLAIM</span> IN THE MOST EFFICIENT WAY</h1>
        </div>
        <button class="button-get-started jost-bold">GET STARTED</button>
    </main>
</div>