.landingpage {
    font-family: 'Jost', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.homepage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(169, 165, 165, 0.4);
}

.application-logo img {
    width: 100px;
    height: auto;
}

.login-button, .button-get-started {
    background-color: #D22B2B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .login-button:hover, .button-get-started:hover {
        background-color: #A91B0D;
    }

.hero-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 20px;
    
}

.frame-1 {
    margin-bottom: 30px;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 2rem;
    color: #333;
}

.highlight {
    color: #D22B2B;
    font-size: 128px;
}

.highlight:hover {
    font-size: 150px;
    color: #A91B0D;
}

.button-get-started {
    font-size: 1.2rem;
    padding: 15px 30px;
}

.jost-bold {
    font-weight: 700;
}
