
.landing-header, .login-header, .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.login-header {
    justify-content: center;
}

.logo img {
    width: 100px;
    height: 100px;
}

.login-button, .hamburger-menu {
    text-decoration: none;
    color: #8B1212;
    font-weight: bold;
}

.menu-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

    .menu-items a {
        color: #8B1212;
        text-decoration: none;
        font-size: 24px;
        font-weight: 600;
    }
